<div class="panel-group">
    <div class="panel panel-default">
        <div id="filter1" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="filter-setting">
                <form action="" mathod="GET">
                    <label>Lorem Ipsum</label>
                    <a class="pull-right collapsed-icon-toggle" href="#coll-1" data-toggle="collapse">
                        <span class="glyphicon glyphicon-minus on-opened"></span>
                        <span class="glyphicon glyphicon-plus on-closed"></span>
                    </a>
                    <br/>
                    <div id="coll-1" class="collapse in">
                        <div class="padding-v-xs" data-toggle="buttons">
                            <label class="btn btn-default btn-xs ico">
                                <input type="checkbox" name=""
                                   value="" autocomplete="off"/>
                                <span class="icon glyphicon glyphicon-ok"></span>
                            </label>
                            <span>Lorem Ipsum 1</span>
                        </div>
                        <div class="padding-v-xs" data-toggle="buttons">
                            <label class="btn btn-default btn-xs ico">
                                <input type="checkbox" name=""
                                   value="" autocomplete="off"/>
                                <span class="icon glyphicon glyphicon-ok"></span>
                            </label>
                            <span>Lorem Ipsum 1</span>
                        </div>
                        <div class="padding-v-xs" data-toggle="buttons">
                            <label class="btn btn-default btn-xs ico">
                                <input type="checkbox" name=""
                                   value="" autocomplete="off"/>
                                <span class="icon glyphicon glyphicon-ok"></span>
                            </label>
                            <span>Lorem Ipsum 1</span>
                        </div>
                        <div class="padding-v-xs" data-toggle="buttons">
                            <label class="btn btn-default btn-xs ico">
                                <input type="checkbox" name=""
                                   value="" autocomplete="off"/>
                                <span class="icon glyphicon glyphicon-ok"></span>
                            </label>
                            <span>Lorem Ipsum 1</span>
                        </div>
                    </div>
                    <hr class="line"/>
                    <label>Lorem Ipsum</label>
                    <a class="pull-right collapsed-icon-toggle" href="#coll-2" data-toggle="collapse">
                        <span class="glyphicon glyphicon-minus on-opened"></span>
                        <span class="glyphicon glyphicon-plus on-closed"></span>
                    </a>
                    <br/>
                    <div id="coll-2" class="collapse in">
                        <div class="padding-v-xs" data-toggle="buttons">
                        <label class="btn btn-default btn-xs ico">
                            <input type="checkbox" name=""
                                   value="" autocomplete="off"/>
                            <span class="icon glyphicon glyphicon-ok"></span>
                        </label>
                            <span>Lorem Ipsum 1</span>
                        </div>
                        <div class="padding-v-xs" data-toggle="buttons">
                            <label class="btn btn-default btn-xs ico">
                                <input type="checkbox" name=""
                                   value="" autocomplete="off"/>
                                <span class="icon glyphicon glyphicon-ok"></span>
                            </label>
                            <span>Lorem Ipsum 2</span>
                        </div>
                        <div class="padding-v-xs" data-toggle="buttons">
                            <label class="btn btn-default btn-xs ico">
                                <input type="checkbox" name=""
                                   value="" autocomplete="off"/>
                                <span class="icon glyphicon glyphicon-ok"></span>
                            </label>
                            <span>Lorem Ipsum 3</span>
                        </div>
                        <div class="padding-v-xs" data-toggle="buttons">
                            <label class="btn btn-default btn-xs ico">
                                <input type="checkbox" name=""
                                   value="" autocomplete="off"/>
                                <span class="icon glyphicon glyphicon-ok"></span>
                            </label>
                            <span>Lorem Ipsum 4</span>
                        </div>
                        <div class="padding-v-xs" data-toggle="buttons">
                            <label class="btn btn-default btn-xs ico">
                                <input type="checkbox" name=""
                                   value="" autocomplete="off"/>
                                <span class="icon glyphicon glyphicon-ok"></span>
                            </label>
                            <span>Lorem Ipsum 5</span>
                        </div>
                        <div class="padding-v-xs" data-toggle="buttons">
                            <label class="btn btn-default btn-xs ico">
                                <input type="checkbox" name=""
                                   value="" autocomplete="off"/>
                                <span class="icon glyphicon glyphicon-ok"></span>
                            </label>
                            <span>Lorem Ipsum 6</span>
                        </div>
                        <div class="padding-v-xs" data-toggle="buttons">
                            <label class="btn btn-default btn-xs ico">
                                <input type="checkbox" name=""
                                   value="" autocomplete="off"/>
                                <span class="icon glyphicon glyphicon-ok"></span>
                            </label>
                            <span>Lorem Ipsum 7</span>
                        </div>
                        <div class="padding-v-xs" data-toggle="buttons">
                            <label class="btn btn-default btn-xs ico">
                                <input type="checkbox" name=""
                                   value="" autocomplete="off"/>
                                <span class="icon glyphicon glyphicon-ok"></span>
                            </label>
                            <span>Lorem Ipsum 8</span>
                        </div>
                    </div>
                    <hr class="line"/>
                    <label>Lorem Ipsum</label>
                    <a class="pull-right collapsed-icon-toggle" href="#coll-0" data-toggle="collapse">
                        <span class="glyphicon glyphicon-minus on-opened"></span>
                        <span class="glyphicon glyphicon-plus on-closed"></span>
                    </a>
                    <br/>
                    <div id="coll-0" class="collapse in">
                        <input type="text" placeholder="150"/> 
                        - 
                        <input type="text" placeholder="10000"/>
                        <nouislider [connect]="true" [min]="0" [max]="10000" [(ngModel)]="range"></nouislider>
                    </div>
                    <hr class="line"/>
                    <label>Lorem Ipsum</label>
                    <a class="pull-right collapsed-icon-toggle" href="#coll-4" data-toggle="collapse">
                        <span class="glyphicon glyphicon-minus on-opened"></span>
                        <span class="glyphicon glyphicon-plus on-closed"></span>
                    </a>
                    <br/>
                    <app-stars></app-stars>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>