<div class="cart">
	<div class="container">
		<h3>{{ 'CART.title' | translate }} (3)</h3>
		<div class="row">
			<div class="col-md-8">
				<div class="item">
					<div class="row">
						<div class="col-sm-4 col-xs-4">
							<img src="http://via.placeholder.com/500x300" class="img-responsive" alt="">
						</div>
						<div class="col-sm-5 col-xs-5">
							<p>
								text for test text for test text for test text for test text for test
							</p>
							<div class="discount">
								<div class="rght">
									<p class="strike-price">123,123,000</p>
									<p>123,123,000</p>
								</div>
								<a class="btn-discount">{{ 'CART.discount' | translate }} 40%</a>
							</div>
							<a href="" class="delete"><i class="fa fa-close"></i> {{ 'CART.deleteProduct' | translate }}</a>
							<a href="" class="text-danger"><i class="fa fa-heart-o"></i> {{ 'CART.addFavourite' | translate }}</a>
						</div>
						<div class="col-sm-3 col-xs-3">
							<h4>{{ 'CART.totalPrice' | translate }}</h4>
							<p class="price">123,123,000 جنية</p>
							<div class="amount">
								<p>{{ 'CART.amount' | translate }}</p>
								<div class="input-group">
									<span class="input-group-btn">
						            	<button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                	<span class="glyphicon glyphicon-plus"></span>
						            	</button>
						            </span>
						          
						          	<input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
						          	<span class="input-group-btn">
						              	<button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
						                	<span class="glyphicon glyphicon-minus"></span>
						              	</button>
						          	</span>
						      	</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="row">
						<div class="col-sm-4 col-xs-4">
							<img src="http://via.placeholder.com/500x300" class="img-responsive" alt="">
						</div>
						<div class="col-sm-5 col-xs-5">
							<p>
								text for test text for test text for test text for test text for test
							</p>
							<div class="discount">
								<div class="rght">
									<p class="strike-price">123,123,000</p>
									<p>123,123,000</p>
								</div>
								<a class="btn-discount">{{ 'CART.discount' | translate }} 40%</a>
							</div>
							<a href="" class="delete"><i class="fa fa-close"></i> {{ 'CART.deleteProduct' | translate }}</a>
							<a href="" class="text-danger"><i class="fa fa-heart-o"></i> {{ 'CART.addFavourite' | translate }}</a>
						</div>
						<div class="col-sm-3 col-xs-3">
							<h4>{{ 'CART.totalPrice' | translate }}</h4>
							<p class="price">123,123,000 جنية</p>
							<div class="amount">
								<p>{{ 'CART.amount' | translate }}</p>
								<div class="input-group">
									<span class="input-group-btn">
						            	<button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                	<span class="glyphicon glyphicon-plus"></span>
						            	</button>
						            </span>
						          
						          	<input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
						          	<span class="input-group-btn">
						              	<button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
						                	<span class="glyphicon glyphicon-minus"></span>
						              	</button>
						          	</span>
						      	</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="row">
						<div class="col-sm-4 col-xs-4">
							<img src="http://via.placeholder.com/500x300" class="img-responsive" alt="">
						</div>
						<div class="col-sm-5 col-xs-5">
							<p>
								text for test text for test text for test text for test text for test
							</p>
							<div class="discount">
								<div class="rght">
									<p class="strike-price">123,123,000</p>
									<p>123,123,000</p>
								</div>
								<a class="btn-discount">{{ 'CART.discount' | translate }} 40%</a>
							</div>
							<a href="" class="delete"><i class="fa fa-close"></i> {{ 'CART.deleteProduct' | translate }}</a>
							<a href="" class="text-danger"><i class="fa fa-heart-o"></i> {{ 'CART.addFavourite' | translate }}</a>
						</div>
						<div class="col-sm-3 col-xs-3">
							<h4>{{ 'CART.totalPrice' | translate }}</h4>
							<p class="price">123,123,000 جنية</p>
							<div class="amount">
								<p>{{ 'CART.amount' | translate }}</p>
								<div class="input-group">
									<span class="input-group-btn">
						            	<button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                	<span class="glyphicon glyphicon-plus"></span>
						            	</button>
						            </span>
						          
						          	<input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
						          	<span class="input-group-btn">
						              	<button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
						                	<span class="glyphicon glyphicon-minus"></span>
						              	</button>
						          	</span>
						      	</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
				    <div class="panel-heading">{{ 'CART.purchases' | translate }}</div>
				    <div class="panel-body">
				    	<div class="form-group">
							<label class="control-label">{{ 'CART.companyDetails' | translate }}</label>
							<select class="form-control">
								<option disabled="" selected=""></option>
					        	<option value="Afghanistan"> Afghanistan </option>
					        	<option value="Albania"> Albania </option>
					    	</select>
						</div>
						<p>{{ 'CART.shippingCost' | translate }} <span>1234جنيه</span></p>
						<p>{{ 'CART.taxes' | translate }} <span>1234جنيه</span></p>
						<h4>{{ 'CART.total' | translate }}: <span>1234 جنيه</span></h4>
				    	<button class="btn btn-success btn-block"> {{ 'CART.shopping' | translate }} </button>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>