<div class="about">
	<app-image-section></app-image-section>
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-sm-7">
				<h2>{{ 'ABOUTUS.title' | translate }}</h2>
				<p>
					هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
					إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.
				</p>
			</div>
			<div class="col-md-3 col-sm-5">
				<img src="http://via.placeholder.com/300x250" class="img-responsive">
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-xs-6">
				<div class="goal_block">
					<div class="goal-img">
						<h3>
							<i class="fa fa-snowflake-o" aria-hidden="true"></i> {{ 'ABOUTUS.vission' | translate }}
						</h3>
					</div>
					<p>
						هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى
					</p>
				</div>
			</div>
			<div class="col-md-4 col-xs-6">
				<div class="goal_block">
					<div class="goal-img">
						<h3>
							<i class="fa fa-snowflake-o" aria-hidden="true"></i> {{ 'ABOUTUS.mission' | translate }}
						</h3>
					</div>
					<p>
						هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى
					</p>
				</div>
			</div>
			<div class="col-md-4 col-xs-6">
				<div class="goal_block">
					<div class="goal-img">
						<h3>
							<i class="fa fa-snowflake-o" aria-hidden="true"></i> {{ 'ABOUTUS.goal' | translate }}
						</h3>
					</div>
					<p>
						هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
