<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-push-3 col-xs-8 col-xs-push-2">
			<div class="content">
				<div class="register">
					<h3>{{ 'REGISTER.title' | translate }}</h3> 

					<a href="">
						<button class="btn btn-primary btn-block">{{ 'FORM.facebookBTN' | translate }}</button>
					</a>
					<a href="">
						<button class="btn btn-danger btn-block btn_custom">{{ 'FORM.googleBTN' | translate }}</button>
					</a>
					<h4>&nbsp;&nbsp; {{ 'FORM.or' | translate}} &nbsp;&nbsp;</h4>
					<form>
						<div class="form-group">
							<label for="name">{{ 'FORM.user' | translate }}</label>
							<input type="text" id="name" class="form-control" >
						</div>
						<div class="form-group">
							<label for="username">{{ 'FORM.username' | translate }}</label>
							<input type="text" id="username" class="form-control" >
						</div>
						<div class="form-group">
							<label for="email">{{ 'FORM.email' | translate }}</label>
							<input type="email" id="email" class="form-control">
						</div>
						<div class="form-group">
							<label for="password">{{ 'FORM.password' | translate }}</label>
							<input type="password" id="password" class="form-control">
						</div>
						<div class="form-group">
							<label for="confirm_password">{{ 'FORM.confirmPassword' | translate }}</label>
							<input type="password" id="confirm_password" class="form-control">
						</div>
						<a routerLink="/"><button class="btn btn-success btn-block">{{ 'FORM.register' | translate }}</button></a>
					</form>
				</div>
				<a routerLink="/login">
					<button class="btn btn-default btn-block">{{ 'REGISTER.haveAccout' | translate }}</button>
				</a>
				
			</div>
		</div>
	</div>
</div>