<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-push-3 col-xs-8 col-xs-push-2">
			<div class="content">
				<div class="register">
					<h3>تسجيل الدخول</h3>

					<a href=""><button class="btn btn-primary btn-block">تسجيل الدخول بحساب الفيسبوك</button></a>
					<a href=""><button class="btn btn-danger btn-block btn_custom">تسجيل الدخول بحساب جوجل</button></a>
					<h4>&nbsp;&nbsp; او &nbsp;&nbsp;</h4>
					<form>
						<div class="form-group">
							<label for="name"></label>
							<p>{{ 'FORM.user' | translate }} heba</p>
							<p translate>EXAMPLE.TITLE</p>
							<input type="text" id="name" class="form-control" >
						</div>
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" id="username" class="form-control" >
						</div>
						<div class="form-group">
							<label for="email">Email</label>
							<input type="email" id="email" class="form-control">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" id="password" class="form-control">
						</div>
						<div class="form-group">
							<label for="confirm_password">confirm Password</label>
							<input type="password" id="confirm_password" class="form-control">
						</div>
						<a routerLink="/"><button class="btn btn-success btn-block">Submit</button></a>
					</form>
				</div>
				<a routerLink="/login"><button class="btn btn-default btn-block">لديك حساب بالفعل</button></a>
				
			</div>
		</div>
	</div>
</div>