<footer>
	<div class="footer1">
		<div class="container">		
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<h3>المساعده و الدعم:</h3>
			        <ul>
						<li>خدمه العملاء والدعم الفني</li>
						<li>ارجاع المنتجات الرقمية</li>
						<li>لينك مناسب</li>
						<li>لينك مناسب</li>
						<li>لينك مناسب</li>
						<li>لينك مناسب</li>
						<li>لينك مناسب</li>
					</ul>
			    </div>
			    <div class="col-lg-3 col-sm-6">
					<h3>بيع المنتجات:</h3>
			        <ul>
						<li>خدمه العملاء والدعم الفني</li>
						<li>ارجاع المنتجات الرقمية</li>
						<li>لينك مناسب</li>
						<li>لينك مناسب</li>
						<li>لينك مناسب</li>
						<li>لينك مناسب</li>
						<li>لينك مناسب</li>
					</ul>
			    </div>
			    <div class="col-lg-3 col-sm-6">
					<h3>شراء المنتجات:</h3>
			        <ul>
						<li>خدمه العملاء والدعم الفني</li>
						<li>ارجاع المنتجات الرقمية</li>
						<li>لينك مناسب</li>
						<li>لينك مناسب</li>
						<li>لينك مناسب</li>
						<li>لينك مناسب</li>
						<li>لينك مناسب</li>
					</ul>
			    </div>
				<div class="col-lg-3 col-sm-6">
					<h3>معلومات عنا:</h3>
			        <ul>
						<li>خدمه العملاء والدعم الفني</li>
						<li>ارجاع المنتجات الرقمية</li>
						<li>لينك مناسب</li>
						<li>لينك مناسب</li>
					</ul>
					<h3>تابعنا علي</h3>
					<div class="social">
						<a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
						<a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
						<a href="#"><i class="fa fa-snapchat-square fa-2x"></i></a>
						<a href="#"><i class="fa fa-instagram fa-2x"></i></a>
					</div>
			    </div>
			</div>
			
		</div>
	</div>
	<div class="rights">

		<div class="container">
			<div class="row">
				<h5 class="text-center">جميع الحقوق محفوظة</h5>
			</div>
		</div>
	</div>
</footer>