.footer1{
	background-color: #fff;
	/*margin-top: 20px;*/
	color: #555;
	/*border-top: 2px solid #ccc;*/
	padding: 20px 0;
}
.footer1 ul{
	padding-right: 0;
	list-style-type: none
}
.rights{
	background-color: #eee;
	padding: 5px 0;
}
.social{
	margin-right: 10px;
	font-size: 1.2em !important;
}
.social a{
	color: #34374c;
	margin-left: 10px;
}