<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-push-3 col-xs-8 col-xs-push-2">
			<div class="content">
				<h3>{{ 'CONFIRMEMAIL.title' | translate }}</h3>
				<form>
					<div class="form-group">
						<label for="confirm_email">{{ 'CONFIRMEMAIL.emailLabel' | translate }}</label>
						<input type="text" id="confirm_email" class="form-control" >
					</div>
					<a routerLink="/forgetPassword"><button class="btn btn-success btn-block">{{ 'CONFIRMEMAIL.btn' | translate }}</button></a>
				</form>
			</div>				
		</div>
	</div>
</div>