.navbar {
    border-radius: 0px;
    margin-bottom: 0;
}
.navbar:first-child{
	background-color: #34374c;
	border: 0px;
}
.navbar-default .navbar-nav > li > a {
	color: #333;
}
.navbar-default{
	box-shadow: 0 0px 4px #333;
}
.navbar-inverse .navbar-nav > li > a{
	color: #fff;
}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover{
	background-color: #606274;
}
.categoty{
	padding: 10px;
	margin-top: 5px;
	background-color: #34374c !important;
	color: #fff !important;
	border-radius: 5px;
}
.navbar > .container .navbar-brand{
	margin-right: 0;
}
.navbar-form .input-group{
	/*width: 380px;*/
	width: 100%;
}
.searchBTN{
	background-color: #34374c;
	color: #fff;
}
.navbar-brand{
	font-size: 23px;
}
.cart{
	padding-top: 8px;
	padding-bottom: 8px;
}
.cart .fa{
	color: #34374c;
	font-size: 2.5em;
}
.cart .cart_text{

	position: relative;
	bottom: 11px;
}
.badge{
	position: absolute;
	background-color: #ee2b47;
}
.nav-search{
	margin-right: 80px;
}
@media (min-width: 992px) {
	.nav-search{
		/*margin-right: 80px;*/
		width: 76%
	}
	#search{
		width: 85%;
	}
}
