.navbar {
    border-radius: 0px;
    margin-bottom: 0;
}
.navbar:first-child{
	
	background-color: #34374c;
	border: 0px;
}
.navbar-inverse .navbar-nav > li > a{
	color: #fff;
}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover{
	background-color: #606274;
}
.navbar-form .input-group{
	width: 400px;
}
.searchBTN{
	background-color: #34374c;
	color: #fff;
}
.navbar-brand{
	font-size: 23px;
}