<app-category-navbar></app-category-navbar>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-push-3 col-xs-8 col-xs-push-2">
			<div class="content">
				<img src="assets/images/checkout-page-2.png" class="img-responsive" alt="">
				<div class="step2">
					<h3>{{ 'CHECKSTEP2.title' | translate }}</h3>
					<button class="btn btn-info btn-block">{{ 'FORM.paypalBTN' | translate }}<i class="fa fa-paypal"></i></button>
					<h4>&nbsp;&nbsp; {{ 'FORM.or' | translate }} &nbsp;&nbsp;</h4>
					<form>
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">{{ 'CHECKSTEP2.paymentMethod' | translate }}</label>
								<select class="form-control">
									<option disabled="" selected=""></option>
						        	<option value="Afghanistan"> Afghanistan </option>
						        	<option value="Albania"> Albania </option>
						        	<option value="Algeria"> Algeria </option>
						        	<option value="American Samoa"> American Samoa </option>
						        	<option value="Andorra"> Andorra </option>
						        	<option value="Angola"> Angola </option>
						        	<option value="Anguilla"> Anguilla </option>
						    	</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="address">{{ 'CHECKSTEP2.cardNumber' | translate }}</label>
								<input type="text" id="address" class="form-control">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="address">{{ 'CHECKSTEP2.checkBTN' | translate }}</label>
								<input type="text" id="address" class="form-control">
							</div>
						</div>
						<a routerLink="/checkoutstep3"><button class="btn btn-success btn-block">
						{{ 'CHECKSTEP2.btn' | translate }}</button></a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>