<app-byer-navbar></app-byer-navbar>
<div class="container">
	<div class="section1">
		<div class="row">
			<div class="col-sm-6 col-sm-6 col-xs-12">
			    <div class="hovereffect">
			        <img class="img-responsive" src="http://placehold.it/350x200" alt="">
			        <div class="overlay">
			           <a class="info" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i></a>
			           <h2>Hover effect 3</h2>
			        </div>
			    </div>
			</div>
			<div class="col-sm-6">
				<div class="data">
					<p>تاريخ شراء المنتج</p>
					<p><span>التاريخ المتوقع لوصول المنتج</span><span>الوقت المتبقي</span></p>
					<p>توع التوصيل</p>
			        <img class="img-responsive" src="http://placehold.it/100x50">

					<p>شركة التوصيل</p>
					<p>عنوان التوصيل</p>
					<p>رقم تلفون التوصيل</p>
					<p>رقم هاتفك الخاص بالطلب</p>
				</div>
			</div>
		</div>
	</div>
	<div class="section1">
		<div class="row">
			<div class="col-sm-6 col-sm-6 col-xs-12">
			    <div class="hovereffect">
			        <img class="img-responsive" src="http://placehold.it/350x200" alt="">
			        <div class="overlay">
			           <a class="info" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i></a>
			           <h2>Hover effect 3</h2>
			        </div>
			    </div>
			</div>
			<div class="col-sm-6">
				<div class="data">
					<p>تاريخ شراء المنتج</p>
					<p><span>التاريخ المتوقع لوصول المنتج</span><span>الوقت المتبقي</span></p>
					<p>توع التوصيل</p>
			        <img class="img-responsive" src="http://placehold.it/100x50">
					
					<p>شركة التوصيل</p>
					<p>عنوان التوصيل</p>
					<p>رقم تلفون التوصيل</p>
					<p>رقم هاتفك الخاص بالطلب</p>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	    	<div class="modal-body">
        		<div class="row">
        			<div class="col-md-12 col-xs-12">
						<div class="col-md-4 col-xs-6">
							<div class="item">
								<div class="item-image">
									<img src="http://via.placeholder.com/500x400">
								</div>
								<div class="item-content">
									<div class="rating">
										<span>(123)</span>
										<div class="stars">
											<i class="fa fa-star-half-o"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<p>
										I am a very simple item. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
									</p>
									<div class="item-footer">
										<button class="btn btn-default btn-block">هرض المتج في صفحة منفصله</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6">
							<div class="item">
								<div class="item-image">
									<img src="http://via.placeholder.com/500x400">
								</div>
								<div class="item-content">
									<div class="rating">
										<span>(123)</span>
										<div class="stars">
											<i class="fa fa-star-half-o"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<p>
										I am a very simple item. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
									</p>
									<div class="item-footer">
										<button class="btn btn-default btn-block">هرض المتج في صفحة منفصله</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6">
							<div class="item">
								<div class="item-image">
									<img src="http://via.placeholder.com/500x400">
								</div>
								<div class="item-content">
									<div class="rating">
										<span>(123)</span>
										<div class="stars">
											<i class="fa fa-star-half-o"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<p>
										I am a very simple item. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
									</p>
									<div class="item-footer">
										<button class="btn btn-default btn-block">هرض المتج في صفحة منفصله</button>
									</div>
								</div>
							</div>
						</div>
					</div>
        		</div>
	    	</div>
	    	<div class="modal-footer">
	        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	    	</div>
	    </div>
    </div>
</div>