<div class="card">
  <div class="card-image">
    <img src="http://via.placeholder.com/500x400">
  </div>
  <div class="card-content">
  	<div class="rating">
  		<span>(123)</span>
  		<div class="stars">
		    <i class="fa fa-star-half-o"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star"></i>
		    <i class="fa fa-star"></i>
		</div>
  	</div>
  	
    <p>
   		I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
	</p>
	<div class="card-footer">
		<button class="btn btn-default btn-block">{{ 'OWNEDITEM.addYourVote' | translate }}</button>
	</div>
  </div>
</div>