<app-category-navbar></app-category-navbar>
<app-byer-navbar></app-byer-navbar>

<div class="container">
	<div class="section1">
		<div class="row">
			<div class="col-md-12">
				<h3>{{ 'BYEREDITPROFILE.mainData' | translate }}</h3>
			</div>
		</div>
		<div class="bg">
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-default left">{{ 'FORM.edit' | translate}} <i class="fa fa-edit"></i></button>
					<h4>{{ 'BYEREDITPROFILE.username' | translate }}: <span>فلان</span></h4>
					<h4>{{ 'BYEREDITPROFILE.email' | translate }}: <span>12/3/1935</span></h4>
					<h4>{{ 'BYEREDITPROFILE.password' | translate }}: <span>*******</span></h4>
				</div>
			</div>
		</div>
	</div>
	<div class="section1">
		<div class="row">
			<div class="col-md-12">
				<h3>{{ 'BYEREDITPROFILE.personalData' | translate }}</h3>
			</div>
		</div>
		<div class="bg">
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-default left">{{ 'FORM.edit' | translate}} <i class="fa fa-edit"></i></button>
					<h4>{{ 'BYEREDITPROFILE.fullName' | translate }}: <span>فلان</span></h4>
					<h4>{{ 'BYEREDITPROFILE.birthday' | translate }}: <span>12/9/2000</span></h4>
					<h4>{{ 'BYEREDITPROFILE.type' | translate }}: <span>ذكر</span></h4>
					<h4>{{ 'BYEREDITPROFILE.address' | translate }}: <span>منزل رقم 9</span></h4>
				</div>
			</div>
		</div>
	</div>
	<div class="section1">
		<div class="row">
			<div class="col-md-12">
				<h3>{{ 'BYEREDITPROFILE.paymentMethod' | translate }}</h3>
			</div>
		</div>
		<div class="bg">
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-default left">{{ 'FORM.edit' | translate}} <i class="fa fa-edit"></i></button>
					<h4>{{ 'BYEREDITPROFILE.nameOnCard' | translate }}: <span>فلان</span></h4>
					<h4>{{ 'BYEREDITPROFILE.endDate' | translate }}: <span>12/09/2018</span></h4>
					<div class="form-group">
						<label class="control-label">{{ 'BYEREDITPROFILE.typeOfPayment' | translate }}: </label>
						<select class="form-control">
							<option selected> Master card</option>
				        	<option value="card"> card </option>
				    	</select>
					</div>
					<div class="form-group">
						<label for="address">{{ 'BYEREDITPROFILE.masterCardNumber' | translate }}: </label>
						<input type="text" id="address" class="form-control">
					</div>
				</div>
				<div class="col-md-6 col-xs-8 col-md-push-3 col-xs-push-2">
					<h5>&nbsp;&nbsp; {{ 'FORM.or' | translate}} &nbsp;&nbsp;</h5>
					<button class="btn btn-info btn-block">{{ 'FORM.paypalBTN' | translate }}<i class="fa fa-paypal"></i></button>
				</div>
			</div>
		</div>
	</div>

	<div class="section1">
		<div class="row">
			<div class="col-md-12">
				<h3>{{ 'BYEREDITPROFILE.linkAccount' | translate }}</h3>
			</div>
		</div>
		<div class="bg">
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-default left">{{ 'FORM.edit' | translate}} <i class="fa fa-edit"></i></button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-xs-8 col-md-push-3 col-xs-push-2">
					<button class="btn btn-primary btn-block">{{ 'FORM.facebookBTN' | translate }}</button>
					<button class="btn btn-danger btn-block">{{ 'FORM.googleBTN' | translate }}</button>
				</div>
			</div>
		</div>
	</div>
</div>