<app-byer-navbar></app-byer-navbar>

<div class="container">
	<div class="section1">
		<div class="row">
			<div class="col-md-12">
				<h3>البيانات الاساسية</h3>
			</div>
		</div>
		<div class="bg">
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-default left">تعديل <i class="fa fa-edit"></i></button>
					<h4>اسم المستخدم: <span>هبه</span></h4>
					<h4>البريد الالكتروني: <span>هبه</span></h4>
					<h4>كلملة المرور: <span>هبه</span></h4>
				</div>
			</div>
		</div>
	</div>
	<div class="section1">
		<div class="row">
			<div class="col-md-12">
				<h3>البيانات الشخصية</h3>
			</div>
		</div>
		<div class="bg">
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-default left">تعديل <i class="fa fa-edit"></i></button>
					<h4>الاسم بالكامل: <span>هبه</span></h4>
					<h4>تاريخ الميلاد: <span>هبه</span></h4>
					<h4>النوع: <span>هبه</span></h4>
					<h4>عنوان التوصيل: <span>هبه</span></h4>
				</div>
			</div>
		</div>
	</div>
	<div class="section1">
		<div class="row">
			<div class="col-md-12">
				<h3>معلومات الدفع</h3>
			</div>
		</div>
		<div class="bg">
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-default left">تعديل <i class="fa fa-edit"></i></button>
					<h4>اسم المستخدم: <span>هبه</span></h4>
					<h4>البريد الالكتروني: <span>هبه</span></h4>
					<h4>كلملة المرور: <span>هبه</span></h4>
					<div class="form-group">
						<label class="control-label">{{ 'CHECKSTEP2.paymentMethod' | translate }}: </label>
						<select class="form-control">
							<option disabled="" selected=""></option>
				        	<option value="Afghanistan"> Afghanistan </option>
				    	</select>
					</div>
					<div class="form-group">
						<label for="address">{{ 'CHECKSTEP2.cardNumber' | translate }}: </label>
						<input type="text" id="address" class="form-control">
					</div>
				</div>
				<div class="col-md-6 col-xs-8 col-md-push-3 col-xs-push-2">
					<h5>&nbsp;&nbsp;or&nbsp;&nbsp;</h5>
					<button class="btn btn-info btn-block">{{ 'CHECKSTEP2.paypalBTN' | translate }}<i class="fa fa-paypal"></i></button>
				</div>
			</div>
		</div>
	</div>

	<div class="section1">
		<div class="row">
			<div class="col-md-12">
				<h3>اربط حسابك</h3>
			</div>
		</div>
		<div class="bg">
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-default left">تعديل <i class="fa fa-edit"></i></button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-xs-8 col-md-push-3 col-xs-push-2">
					<button class="btn btn-primary btn-block">فيسبوك</button>
					<button class="btn btn-danger btn-block">جوجل</button>
				</div>
			</div>
		</div>
	</div>
</div>