<app-category-navbar></app-category-navbar>
<app-view-section></app-view-section>
<app-search></app-search>
<div class="container">
	<div class="row" style="">
		<div class="col-md-3 col-sm-4 hidden-xs">
			<app-filter></app-filter>
		</div>
		<div class="col-md-9 col-sm-8 col-xs-12 filter_border">
			<div class="category">
				<div class="col-md-12">	
					<div class="col-md-4 col-xs-6">
						<app-item></app-item>
					</div>
					<div class="col-md-4 col-xs-6">
						<app-discount-item></app-discount-item>
					</div>
					<div class="col-md-4 col-xs-6">
						<app-item></app-item>
					</div>
				</div>
				<div class="col-md-12">	
					<div class="col-md-4 col-xs-6">
						<app-item></app-item>
					</div>
					<div class="col-md-4 col-xs-6">
						<app-discount-item></app-discount-item>
					</div>
					<div class="col-md-4 col-xs-6">
						<app-discount-item></app-discount-item>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
