<app-category-navbar></app-category-navbar>
<div class="sellers">
	<div class="container">
		<div class="row">
			<div class="title">
				<div class="col-md-12">
					<div class="col-xs-4">
						<h4>جميع البائعين المتاحين (3)</h4>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label">حالة السلعه</label>
							<select class="form-control">
								<option value="all" selected>كل</option>
					        	<option value="all"> كل</option>
					    	</select>
						</div>
					</div>
					<div class="col-xs-4">
						<h4 style="float: left;">ترتيب حسب السعر <i class="fa fa-angle-down"></i></h4>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="item">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<img src="http://via.placeholder.com/500x350" class="img-responsive" alt="">
						</div>
						<div class="col-md-4 col-sm-6">
							<p>
								text for test text for test text for test text for test text for test
							</p>
							<a href="" class="display-page">عرض صفحة المنتج <i class="fa fa-angle-left"></i> </a>
							<a href="" class="text-danger"><i class="fa fa-heart-o"></i> اضافة للمفضلة</a>
						</div>
						<div class="col-md-2 col-sm-5">
							<div class="seller-data">
								<h4>معلومات البائع</h4>
								<p>البائع: <span> 	فلان الفلاني</span></p>
								<p>الشحن: <span> مجانا</span></p>
								<h5>تقييم البائع (123)</h5>
								<div class="stars">
								    <i class="fa fa-star-half-o fa-lg"></i>
								    <i class="fa fa-star fa-lg"></i>
								    <i class="fa fa-star fa-lg"></i>
								    <i class="fa fa-star fa-lg"></i>
								    <i class="fa fa-star fa-lg"></i>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-7">
							<div class="discount">
								<div class="rght">
									<p class="strike-price">123,123,000</p>
									<p>123,123,000</p>
								</div>
								<a class="btn-discount">خصم 40%</a>
							</div>
							<h4>حالة السلعه: <span>جيدة</span></h4>
							<button class="btn btn-success btn-block add-cart">
								<span>اضافه للعربة</span> <i class="fa fa-cart-plus fa-2x"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<img src="http://via.placeholder.com/500x350" class="img-responsive" alt="">
						</div>
						<div class="col-md-4 col-sm-6">
							<p>
								text for test text for test text for test text for test text for test
							</p>
							<a href="" class="display-page">عرض صفحة المنتج <i class="fa fa-angle-left"></i> </a>
							<a href="" class="text-danger"><i class="fa fa-heart-o"></i> اضافة للمفضلة</a>
						</div>
						<div class="col-md-2 col-sm-5">
							<div class="seller-data">
								<h4>معلومات البائع</h4>
								<p>البائع: <span> 	فلان الفلاني</span></p>
								<p>الشحن: <span> مجانا</span></p>
								<h5>تقييم البائع (123)</h5>
								<div class="stars">
								    <i class="fa fa-star-half-o fa-lg"></i>
								    <i class="fa fa-star fa-lg"></i>
								    <i class="fa fa-star fa-lg"></i>
								    <i class="fa fa-star fa-lg"></i>
								    <i class="fa fa-star fa-lg"></i>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-7">
							<div class="discount">
								<div class="rght">
									<p class="strike-price">123,123,000</p>
									<p>123,123,000</p>
								</div>
								<a class="btn-discount">خصم 40%</a>
							</div>
							<h4>حالة السلعه: <span>جيدة</span></h4>
							<button class="btn btn-success btn-block add-cart">
								<span>اضافه للعربة</span> <i class="fa fa-cart-plus fa-2x"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<img src="http://via.placeholder.com/500x350" class="img-responsive" alt="">
						</div>
						<div class="col-md-4 col-sm-6">
							<p>
								text for test text for test text for test text for test text for test
							</p>
							<a href="" class="display-page">عرض صفحة المنتج <i class="fa fa-angle-left"></i> </a>
							<a href="" class="text-danger"><i class="fa fa-heart-o"></i> اضافة للمفضلة</a>
						</div>
						<div class="col-md-2 col-sm-5">
							<div class="seller-data">
								<h4>معلومات البائع</h4>
								<p>البائع: <span> 	فلان الفلاني</span></p>
								<p>الشحن: <span> مجانا</span></p>
								<h5>تقييم البائع (123)</h5>
								<div class="stars">
								    <i class="fa fa-star-half-o fa-lg"></i>
								    <i class="fa fa-star fa-lg"></i>
								    <i class="fa fa-star fa-lg"></i>
								    <i class="fa fa-star fa-lg"></i>
								    <i class="fa fa-star fa-lg"></i>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-7">
							<div class="discount">
								<div class="rght">
									<p class="strike-price">123,123,000</p>
									<p>123,123,000</p>
								</div>
								<a class="btn-discount">خصم 40%</a>
							</div>
							<h4>حالة السلعه: <span>جيدة</span></h4>
							<button class="btn btn-success btn-block add-cart">
								<span>اضافه للعربة</span> <i class="fa fa-cart-plus fa-2x"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>