<app-image-section></app-image-section>
<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-6">
			<h4>
				<i class="fa fa-signal" aria-hidden="true"></i> {{ 'CONTACTUS.support' | translate }}
			</h4>
			<p>{{ 'CONTACTUS.hotline' | translate }}</p>
			<p>01235678908 <i class="fa fa-phone"></i></p>
			<h4><i class="fa fa-users"></i> {{ 'CONTACTUS.socialMedia' | translate }}</h4>
			<div class="social">
				<a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
				<a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
				<a href="#"><i class="fa fa-snapchat-square fa-2x"></i></a>
				<a href="#"><i class="fa fa-instagram fa-2x"></i></a>
			</div>
		</div>
		<div class="col-md-2 col-sm-6">
			<h4>{{ 'CONTACTUS.email' | translate }}</h4>
			<p>abc@gmail.com <i class="fa fa-envelope-o"></i> </p>
		</div>
		<div class="col-md-7 col-sm-12">
			<h4>
				<i class="fa fa-gg" aria-hidden="true"></i> {{ 'CONTACTUS.form.title' | translate }}
			</h4>
			<form class="form-horizontal" action="/action_page.php">
				<div class="col-md-6">
					<div class="form-group">
			    		<label class="control-label" for="fullname">{{ 'CONTACTUS.form.fullname' | translate }}:</label>
			        		<input type="text" class="form-control" id="fullname" placeholder="{{ 'CONTACTUS.form.fullname' | translate }}" name="fullname">
			    	</div>
				</div>
			    
			    <div class="col-md-6">
			    	<div class="form-group">
				      <label class="control-label" for="email">{{ 'CONTACTUS.form.email' | translate }}:</label>
				        <input type="email" class="form-control" id="email" placeholder="{{ 'CONTACTUS.form.email' | translate }}" name="email">
				    </div>
			    </div>
			    <div class="col-lg-12">
			    	<div class="form-group">
						<label for="message">{{ 'CONTACTUS.form.message' | translate }}:</label>
						<textarea class="form-control" rows="5" id="message"></textarea>
					</div> 
			    </div>
			    <div class="col-lg-12">
				    <div class="form-group">
				        <button type="submit" class="btn btn-success">{{ 'CONTACTUS.form.sendBTN' | translate }}</button>
				    
				    </div>
				</div>
			</form>
		</div>
	</div>
	<div class="row questions">
		<div class="col-md-9">
			<h4>
				<i class="fa fa-question-circle-o" aria-hidden="true"></i>
					{{ 'CONTACTUS.repeatedQuestions' | translate }}
			</h4>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

		        <div class="panel">
		            <div class="panel-heading" role="tab" id="headingOne">
		                <h4 class="panel-title">
		                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		                        <i class="more-less glyphicon glyphicon-plus"></i>
		                        {{ 'CONTACTUS.questionTitle' | translate }}
		                    </a>
		                </h4>
		            </div>
		            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		                <div class="panel-body">
		                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
		                </div>
		            </div>
		        </div>

		        <div class="panel">
		            <div class="panel-heading" role="tab" id="headingTwo">
		                <h4 class="panel-title">
		                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		                        <i class="more-less glyphicon glyphicon-plus"></i>
		                        {{ 'CONTACTUS.questionTitle' | translate }}
		                    </a>
		                </h4>
		            </div>
		            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		                <div class="panel-body">
		                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
		                </div>
		            </div>
		        </div>

		        <div class="panel">
		            <div class="panel-heading" role="tab" id="headingThree">
		                <h4 class="panel-title">
		                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		                        <i class="more-less glyphicon glyphicon-plus"></i>
		                        {{ 'CONTACTUS.questionTitle' | translate }}
		                    </a>
		                </h4>
		            </div>
		            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		                <div class="panel-body">
		                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
		                </div>
		            </div>
		        </div>

		    </div><!-- panel-group -->
		</div>
		<div class="col-md-3">
			<img src="http://via.placeholder.com/250x300" class="img-responsive">
		</div>
	</div>
</div>