<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-push-3 col-xs-8 col-xs-push-2">
			<div class="content">
				<img src="assets/images/checkout-page-3.png" class="img-responsive" alt="">
				<div class="step3">
					<div class="header">
						<h3>{{ 'CHECKSTEP3.title' | translate}}</h3>
						<a class="edit" href="">
							<button class="btn btn-default">
								<i class="fa fa-edit"></i> {{ 'CHECKSTEP3.editBTN' | translate }}
							</button>
						</a>
					</div>
					<div>
						<div class="col-md-12">
							<div class="numbers">
								<label>{{ 'CHECKSTEP3.purchases' | translate }}</label>
								<h4>123.9848</h4>
							</div>
						</div>
						<div class="col-md-12">
							<div class="numbers">
								<label>{{ 'CHECKSTEP3.delivery' | translate}}</label>
								<h4>123.9848</h4>
							</div>
						</div>
						<div class="col-md-12">
							<div class="numbers">
								<label>{{ 'CHECKSTEP3.taxes' | translate}}</label>
								<h4>123.9848</h4>
							</div>
						</div>
						<div class="col-md-12">
							<div class="total">
								<label>{{ 'CHECKSTEP3.total' | translate}}</label>
								<h4>123.9848</h4>
							</div>
						</div>
						<a routerLink="/">
							<button class="btn btn-success btn-block">{{ 'CHECKSTEP3.btn' | translate}}</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>