.search{
	width: 100%;
	height: 50px;
	box-shadow: 5px 0px 5px #aaa;
	background-color: #fff;
	border-top: 2px solid #ee2b47;
}
.search p#search-res{
	display: inline-block;
	float: right;
	line-height: 50px;
}
.search nav{
	display: inline-block;
	float: left;
}
.search nav .pagination{
	margin: 9px 0;
}
.pagination > li > a,
.pagination > li > a,
.pagination > li > i,
.pagination > li > i{
	color: #555;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover{
	background-color: #ee2b47;
	border-color: #ee2b47;
	color: #fff;
}
