<app-byer-navbar></app-byer-navbar>
<app-search></app-search>
<div class="container">
	<div class="content">
		<div class="row">
			<div class="col-md-3 col-sm-4 hidden-xs">
				<app-filter></app-filter>
			</div>
			<div class="col-md-9 col-sm-8 col-xs-12">
				<div class="col-md-4 col-xs-6">
					<app-item></app-item>
				</div>
				<div class="col-md-4 col-xs-6">
					<app-discount-item></app-discount-item>
				</div>
				<div class="col-md-4 col-xs-6">
					<app-item></app-item>
				</div>
				<div class="col-md-4 col-xs-6">
					<app-item></app-item>
				</div>
			</div>
		</div>
	</div>
</div>
