/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-rtl/dist/css/bootstrap-rtl.min.css';
@import '~font-awesome/css/font-awesome.min.css';
@import '~dropzone/dist/min/dropzone.min.css';
body{
	background-color: #eee;
}
/*.navbar-right.flip{
	margin-left: -30px;
}*/
.form-group select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent url("./assets/images/down.png") no-repeat 10px center;
}