<app-seller-navbar></app-seller-navbar>
<app-search></app-search>
<div class="container">
	<div class="content">
		<div class="row">
			<div class="col-md-3 col-sm-4 hidden-xs">
				<app-filter></app-filter>
			</div>
			<div class="col-md-9 col-sm-8 col-xs-12">
				<div class="col-md-4 col-xs-6">
					<div class="item">
						<div class="item-image">
					    	<img src="http://via.placeholder.com/500x400">
						</div>
						<div class="item-content">
						  	<div class="rating">
						  		<span>(123)</span>
						  		<div class="stars">
								    <i class="fa fa-star-half-o"></i>
								    <i class="fa fa-star"></i>
								    <i class="fa fa-star"></i>
								    <i class="fa fa-star"></i>
								    <i class="fa fa-star"></i>
								</div>
						  	</div>
						    <p>
						   		I am a very simple item. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
							</p>
							<div class="item-footer">
								<button class="btn btn-default">تعديل <i class="fa fa-edit"></i></button>
								<p>
									<span class="strike-price">123,3222 جنيه</span>
									<span>123,3222 جنيه</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-6">
					<div class="item">
						<div class="item-image">
					    	<img src="http://via.placeholder.com/500x400">
					    	<a class="btn-floating halfway-fab waves-effect waves-light red">خصم 40%</a>
						</div>
						<div class="item-content">
						  	<div class="rating">
						  		<span>(123)</span>
						  		<div class="stars">
								    <i class="fa fa-star-half-o"></i>
								    <i class="fa fa-star"></i>
								    <i class="fa fa-star"></i>
								    <i class="fa fa-star"></i>
								    <i class="fa fa-star"></i>
								</div>
						  	</div>
						    <p>
						   		I am a very simple item. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
							</p>
							<div class="item-footer">
								<button class="btn btn-default">تعديل <i class="fa fa-edit"></i></button>
								<p>
									<span class="strike-price">123,3222 جنيه</span>
									<span>123,3222 جنيه</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-6">
					<div class="item">
						<div class="item-image">
					    	<img src="http://via.placeholder.com/500x400">
						</div>
						<div class="item-content">
						  	<div class="rating">
						  		<span>(123)</span>
						  		<div class="stars">
								    <i class="fa fa-star-half-o"></i>
								    <i class="fa fa-star"></i>
								    <i class="fa fa-star"></i>
								    <i class="fa fa-star"></i>
								    <i class="fa fa-star"></i>
								</div>
						  	</div>
						    <p>
						   		I am a very simple item. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
							</p>
							<div class="item-footer">
								<button class="btn btn-default">تعديل <i class="fa fa-edit"></i></button>
								<p>
									<span class="strike-price">123,3222 جنيه</span>
									<span>123,3222 جنيه</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-6">
					<div class="item">
						<div class="item-image">
					    	<img src="http://via.placeholder.com/500x400">
					    	<a class="btn-floating halfway-fab waves-effect waves-light red">خصم 40%</a>
						</div>
						<div class="item-content">
						  	<div class="rating">
						  		<span>(123)</span>
						  		<div class="stars">
								    <i class="fa fa-star-half-o"></i>
								    <i class="fa fa-star"></i>
								    <i class="fa fa-star"></i>
								    <i class="fa fa-star"></i>
								    <i class="fa fa-star"></i>
								</div>
						  	</div>
						    <p>
						   		I am a very simple item. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
							</p>
							<div class="item-footer">
								<button class="btn btn-default">تعديل <i class="fa fa-edit"></i></button>
								<p>
									<span class="strike-price">123,3222 جنيه</span>
									<span>123,3222 جنيه</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
