.card {
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    border: 1px solid #aaa;
    position: relative;
    min-height: 420px;
}
.card .card-image {
    position: relative;
}
.card .card-image img {
    display: block;
    width: 100%;
    height: 270px;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
}
.btn-floating {
	position: absolute;
    right: -1px;
    bottom: -30px;
    display: inline-block;
    color: #fff;
    z-index: 1;
    width: 80px;
    height: 40px;
    line-height: 40px;
    background-color: #ee2b47;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}
.card .card-content {
    padding: 24px 24px 4px;
    border-radius: 0 0 2px 2px;
}
.card .card-footer .btn{
    float: left;
}
.hid_btn{
    display: none;
    width: 100px;
    float: left;
}
.btn-number{
    padding: 4px 7px;
}
.input-number{
    height: 30px;
}
.card .card-footer span.strike-price{
    text-decoration: line-through;
    display: block;
    color: #aaa;
}
.card .card-content .rating .stars
{
    display: inline-block;
}
.card .card-content .rating{
    text-align: left;
    margin-bottom: 10px;
}
.card:hover{
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    border: 0px;
}
.card:hover .hid_btn{
    display: table;
}
.card:hover .card-content .btn.add_btn{
    display: none;
}